
@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf') format('truetype');/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/

}

.iconfont {
	color: #18B831;
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daishouhuo:before { content: "\e61f"; }

.icon-shangou:before { content: "\e600"; }

.icon-iconmoban213:before { content: "\e626"; }

.icon-51:before { content: "\e633"; }

.icon-cz:before { content: "\e602"; }

.icon-anonymous-iconfont:before { content: "\e62e"; }

.icon-anonymous-iconfont1:before { content: "\e62f"; }

.icon-meiyousoudaoxinxi:before { content: "\e635"; }

.icon-saoyisao:before { content: "\e655"; }

.icon-miaopai:before { content: "\e66b"; }

.icon-xiazai49:before { content: "\e61e"; }

.icon-clipboard-check:before { content: "\e623"; }

.icon-tuihuanziyou:before { content: "\e63b"; }

.icon-dingwei:before { content: "\e6f4"; }

.icon-gouwuchexuanzhong:before { content: "\e890"; }

.icon-cuowu:before { content: "\e60d"; }

.icon-xiaofeijilu:before { content: "\e624"; }

.icon-daishouhuo1:before { content: "\e66a"; }

.icon-shouye:before { content: "\e601"; }

.icon-wode:before { content: "\e672"; }

.icon-kefu:before { content: "\e612"; }

.icon-daizhifu:before { content: "\e605"; }

.icon-chenggong:before { content: "\e6f3"; }

.icon-sousuo-sousuo:before { content: "\e607"; }

